{% extends "base.html" %}
{% block content %}
<h2>About Recycle Pi Bin</h2>
	<div id="parag">
		<p>
			<i><b><span id="ras">Recycle</span> <span id="pb">Pi Bin</span></i></b> (RPB) aimed to solve the waste problem. The project is an IoT based garbage segregator and monitoring, an innovative way that will help reduce or eliminate the waste issue. Due to the lack of knowledge and neglect of people to waste, the project addresses the problem mentioned. There is no need to regulate waste based on garbage categories (biodegradable, non-biodegradable and recyclable) because they only put garbage in one container and the machine itself will separate them. Here in these studies, the researchers design and create a simple prototype of the project that segregates the generated waste based on their categories using Raspberry pi devices.
		</p>
		<p>
			RPB aims to minimize the problem concerning garbage issues. Help the garbage utilities, properly segregate the waste and prevent some diseases caused by improper waste disposal, listed objectives specifically are:
			<ol>
				<li>
					To help the people to put trash in the right place of using this waste separator.
				</li>
				<li>
					To segregate the garbage properly with the use of a camera, sensor and artificial intelligence that will determine the garbage based on their proper section and the project will help to prevent diseases, caused by improper waste disposal.
				</li>
				<li>
					To notify garbage utilities when the laser-based IR sensor detects the trash container is full through the Global System for Mobile Communications (GSM) chip via SMS.
				</li>
			</ol>
		</p>
	</div><br/>
	<div id="parag">
		<h3>Significance</h3>
		<p>The utilities, whole school community, researchers and future researchers are the ones who benefit in the study. Listed below are more specify those who would benefits from the study:</p>
		<ul>
			<li>
				<i><b>To the Utilities. </i></b>The utilities will have easier management of garbage, as the application would notify an SMS when the garbage can have reached the limit and it automatically segregates the garbage collection that would save their time to manually separate the type of garbage.
			</li>
			<li>
				<i><b>To the School or Establishments.</i></b> With the proper garbage disposal, the establishment would maintain the cleanliness of the surrounding.
			</li>
			<li>
				<i><b>To the Students and Teachers. </i></b>Trash disposal will be hassle-free because the user only throws the trash on one container and it will be automatically segregated. The garbage can will only have one hole because the machine will automatically decide in what container where the garbage segregates. The study also helps to prevent diseases caused by improper waste disposal.
			</li>
			<li>
				<i><b>To the Researcher.</i></b> The researcher would drastically improve and develop technical and writing skills and knowledge about technology. In the creation of the study, the researchers tackled different problems that are being solved and how they can apply what the researchers have learned in school or by researching.
			</li>
			<li>
				<i><b>To the Future Researchers.</i></b> This would serve as a reference and future researchers may improve the study for better purposes.
			</li>
		</ul>

	</div>
{% endblock %}
