{% extends "base.html" %}
{% block content %}

<style type="text/css">
	a{
		text-decoration: none;
		color: inherit;
	}
	a:hover{
		color: #ff9933;
	}
	.cont a{
		font-weight: bold;
	}
</style>
<h2>Contact Us</h2>
	<div id="parag">
		<h3>Get in touch with the developers</h3>
		<p class="cont">For support or any question please feel free to email us at <a href="mailto: edrexcha12@gmail.com">edrexcha12@gmail.com</a> or <a href="mailto: Hansdeguzman03@gmail.com">Hansdeguzman03@gmail.com</a>. You can also visit the social media of the developers <a href="#social">here</a>. <br>If you don't get an answer immediately, we might be busy doing someting. We promise to response to you as soon as possible.</p>
	</div><br/>
	<div id="parag">
		<div id="social">
			<h3>Social</h3>
			<p>Recycle Pi Bin Developer Facebook Acoounts: </p>
			<i>Select the name to view their social media.</i>
				<table>
					<tr>
						<th>Role</th>
						<th>Name and Facebook</th>
					</tr>
					<tr>
						<td>Main Developer</td>
						<td><a href="https://m.facebook.com/drix.cha" target="_blank">Edrex H. Cha</a></td>
					</tr>
					<tr>
						<td>General Manager</td>
						<td><a href="https://m.facebook.com/hnspdg" target="_blank">Hans Jr. P. de Guzman</a></td>
					</tr>
					<tr>
						<td>Researcher</td>
						<td><a href="https://m.facebook.com/ernan.miclat" target="_blank">Ernan H. Miclat</a></td>
					</tr>
					<tr>
						<td>Researcher</td>
						<td><a href="https://m.facebook.com/leyynagarcia" target="_blank">Lainalie G. Aliwalas</a></td>
					</tr>
					<tr>
						<td>Researcher</td>
						<td><a href="https://m.facebook.com/josephine.tabirao.73" target="_blank">Josephine O. Tabirao</a></td>
					</tr>
				</table><br/>
		</div>
	</div>
{% endblock %}
