{% extends "base.html" %}
{% block content %}
<br/>
<div id="parag">
    <p><i><b><span id="ras">Recycle</span> <span id="pb">Pi Bin</span> </i></b>implements automated segregation of trash.
    Trash segregation and monitoring the trash bin can be done easily with the help of <i><b><span id="ras">Recycle</span> <span id="pb">Pi Bin</span></i></b> (RPB).</p>
    <p>RPB is an application where you can monitor the status of trash can in your home, schools, office or any other stablishments.</p>
    <p>The features of this application focuses on connection between RPB sofware to its hardware components. Make sure to connect to raspberry pi via IP Address or your IP Address input is correct.</p>
    <p>Switch to Statistics tab for summary status of RPB, in Setting tab to edit information and for more guide how to use this application switch to Guide tab at the center-bottom of screen.</p>
</div><br/>
<div id="parag">
    <p><i><b><span id="ras">Recycle</span> <span id="pb">Pi Bin</span> </i></b> (RPB) aims to minimize the problem concerning garbage issues. Help the garbage utilities, properly segregate the waste and prevent some diseases caused by improper waste disposal
    </p>
</div>
{% endblock %}
